<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QLNV1.Properties.Settings.QLDSVConnectionString" connectionString="Data Source=M15R2\\SERVER_SITE1;Initial Catalog=QLDSV_TC;User ID=sa;password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLNV1.Properties.Settings.QLDSVHTCConnectionString"
      connectionString="Data Source=20.255.58.0,1431;Initial Catalog=QLDSVHTC;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="QLDSVHTCConnectionString" connectionString="XpoProvider=MSSqlServer;data source=20.255.58.0,1431;user id=;password=;initial catalog=QLDSVHTC;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>